@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2 {
  font-family: "Roboto Mono" !important;
}

html {
  height: 100%;
}
